<%= form_tag exerciselogs_path do %>
  <label>ExerciseLog Reps:</label><br>
  <%= text_field_tag :reps %><br>

  <label>ExerciseLog Weight</label><br>
  <%= text_area_tag :weight %><br>

  <%= submit_tag "Submit ExerciseLog" %>
<% end %>
